logic-app/find-the-celeb.json
{
    "$connections": {
        "value": {
            "azureblob": {
                "connectionId": "/subscriptions/2e500704-1ab3-49c6-bbbb-8b2bec98ffdc/resourceGroups/image-recognition-rg/providers/Microsoft.Web/connections/azureblob",
                "connectionName": "azureblob",
                "id": "/subscriptions/2e500704-1ab3-49c6-bbbb-8b2bec98ffdc/providers/Microsoft.Web/locations/westeurope/managedApis/azureblob"
            },
            "keyvault_1": {
                "connectionId": "/subscriptions/2e500704-1ab3-49c6-bbbb-8b2bec98ffdc/resourceGroups/image-recognition-rg/providers/Microsoft.Web/connections/keyvault-1",
                "connectionName": "keyvault-1",
                "id": "/subscriptions/2e500704-1ab3-49c6-bbbb-8b2bec98ffdc/providers/Microsoft.Web/locations/westeurope/managedApis/keyvault"
            }
        }
    },
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition": {
                "actions": {
                    "Set_variable": {
                        "inputs": {
                            "name": "reply",
                            "value": "@{concat('I am sure it is ', body('Parse_JSON')?['result']?['celebrities'][0]['name'], ', confidence: ', variables('confidence'))}"
                        },
                        "runAfter": {},
                        "type": "SetVariable"
                    }
                },
                "else": {
                    "actions": {
                        "Set_variable_2": {
                            "inputs": {
                                "name": "reply",
                                "value": "@{concat('I am not sure. Is it ', body('Parse_JSON')?['result']?['celebrities'][0]['name'], '?, confidence: ', variables('confidence'))}"
                            },
                            "runAfter": {},
                            "type": "SetVariable"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "greater": [
                                "@body('Parse_JSON')?['result']?['celebrities'][0]['confidence']",
                                0.9
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "For_each": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "Create_blob_2": {
                "inputs": {
                    "body": "@base64ToBinary(triggerBody()?['$multipart'][0]['body']['$content'])",
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/datasets/default/files",
                    "queries": {
                        "folderPath": "/images",
                        "name": "@variables('filename')",
                        "queryParametersSingleEncoded": true
                    }
                },
                "runAfter": {
                    "Set_Filename": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "ApiConnection"
            },
            "For_each": {
                "actions": {
                    "Set_variable_3": {
                        "inputs": {
                            "name": "confidence",
                            "value": "@items('For_each')?['confidence']"
                        },
                        "runAfter": {},
                        "type": "SetVariable"
                    }
                },
                "foreach": "@body('Parse_JSON')?['result']?['celebrities']",
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Get_blob_url": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['keyvault_1']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/secrets/@{encodeURIComponent('blob-url')}/value"
                },
                "runAfter": {
                    "Get_cognitive_url": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Get_cognitive_key": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['keyvault_1']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/secrets/@{encodeURIComponent('cognitive-key')}/value"
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "Get_cognitive_url": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['keyvault_1']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/secrets/@{encodeURIComponent('congitive-url')}/value"
                },
                "runAfter": {
                    "Get_cognitive_key": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "HTTP": {
                "inputs": {
                    "body": {
                        "url": "@{body('Get_blob_url')?['value']}/images/@{variables('filename')}"
                    },
                    "headers": {
                        "Ocp-Apim-Subscription-Key": "@body('Get_cognitive_key')?['value']"
                    },
                    "method": "POST",
                    "queries": {
                        "maxCandidates": "1"
                    },
                    "uri": "@{body('Get_cognitive_url')?['value']}/vision/v1.0/models/celebrities/analyze"
                },
                "runAfter": {
                    "Create_blob_2": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Initialize_filename": {
                "inputs": {
                    "variables": [
                        {
                            "name": "filename",
                            "type": "String",
                            "value": "xxx"
                        }
                    ]
                },
                "runAfter": {
                    "init_cd": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_reply": {
                "inputs": {
                    "variables": [
                        {
                            "name": "reply",
                            "type": "String",
                            "value": "not found"
                        }
                    ]
                },
                "runAfter": {
                    "Get_blob_url": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "confidence",
                            "type": "Float",
                            "value": 0
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_reply": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@body('HTTP')",
                    "schema": {
                        "properties": {
                            "metadata": {
                                "properties": {
                                    "format": {
                                        "type": "string"
                                    },
                                    "height": {
                                        "type": "integer"
                                    },
                                    "width": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            },
                            "requestId": {
                                "type": "string"
                            },
                            "result": {
                                "properties": {
                                    "celebrities": {
                                        "items": {
                                            "properties": {
                                                "confidence": {
                                                    "type": "number"
                                                },
                                                "faceRectangle": {
                                                    "properties": {
                                                        "height": {
                                                            "type": "integer"
                                                        },
                                                        "left": {
                                                            "type": "integer"
                                                        },
                                                        "top": {
                                                            "type": "integer"
                                                        },
                                                        "width": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "name": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "faceRectangle",
                                                "name",
                                                "confidence"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "HTTP": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Response": {
                "inputs": {
                    "body": "@variables('reply')",
                    "statusCode": "@outputs('HTTP')['statusCode']"
                },
                "kind": "Http",
                "runAfter": {
                    "Condition": [
                        "Succeeded"
                    ]
                },
                "type": "Response"
            },
            "Set_CD": {
                "inputs": {
                    "name": "cd",
                    "value": "@{triggerBody()?['$multipart'][0]['headers']['Content-Disposition']}"
                },
                "runAfter": {
                    "init_length": [
                        "Succeeded"
                    ]
                },
                "type": "SetVariable"
            },
            "Set_Filename": {
                "inputs": {
                    "name": "filename",
                    "value": "@{substring(variables('cd'), 34, sub(variables('length'), 35))}"
                },
                "runAfter": {
                    "Set_length": [
                        "Succeeded"
                    ]
                },
                "type": "SetVariable"
            },
            "Set_length": {
                "inputs": {
                    "name": "length",
                    "value": "@length(variables('cd'))"
                },
                "runAfter": {
                    "Set_CD": [
                        "Succeeded"
                    ]
                },
                "type": "SetVariable"
            },
            "init_cd": {
                "inputs": {
                    "variables": [
                        {
                            "name": "cd",
                            "type": "String",
                            "value": "XXX"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "init_length": {
                "inputs": {
                    "variables": [
                        {
                            "name": "length",
                            "type": "Integer",
                            "value": 0
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_filename": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "$content": {
                                "type": "string"
                            },
                            "$content-type": {
                                "type": "string"
                            },
                            "$multipart": {
                                "items": {
                                    "properties": {
                                        "body": {
                                            "properties": {
                                                "$content": {
                                                    "type": "string"
                                                },
                                                "$content-type": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "headers": {
                                            "properties": {
                                                "Content-Disposition": {
                                                    "type": "string"
                                                },
                                                "Content-Type": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "headers",
                                        "body"
                                    ],
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    }
}